# İş Uygulaması: Anasayfa İçerik Stratejisi Belirleme (Varyans Analizi)

* Problem: Anasayfada geçirilen süre arttırılmak isteniyor.
* Detaylar: 1-Bir web sitesi için başarı kriterleri:ortamda geçirilen zaman,hemen çıkış oranı vb 2-Uzun zaman geçiren kullanıcıların reklamalara tıklama oranı ve markaya bağımlılıklarının arttığı biliniyor.3-Buna yönelik olarak benzer haberler farklı resimler ya da farklı formatlarda hazırlanarak oluşturulan test gruplarına gösteriliyor.
* A: Doğal Şekilde, B: Yönlendirici, C: İlgi Çekici

In [1]:
import pandas as pd
import numpy as np

A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,34,28,32,31,28,33,29])

B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,29,26,37,31,28,34,33])

C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,40,39,38,38,43,40,42])

dfs = [A, B, C]

ABC = pd.concat(dfs, axis = 1)
ABC.columns = ["GRUP_A","GRUP_B","GRUP_C"]
ABC.head()

   GRUP_A  GRUP_B  GRUP_C
0      28      31      40
1      33      32      33
2      30      30      38
3      29      30      41
4      28      33      42

## Varsayım Kontrolü

In [2]:
from scipy.stats import shapiro

#### Normallik varsayimi

In [3]:
shapiro(ABC["GRUP_A"])

ShapiroResult(statistic=0.969743013381958, pvalue=0.5321670174598694)

In [4]:
shapiro(ABC["GRUP_B"])

ShapiroResult(statistic=0.9789853096008301, pvalue=0.7979751229286194)

In [5]:
shapiro(ABC["GRUP_C"])

ShapiroResult(statistic=0.9579201340675354, pvalue=0.273820161819458)

#### Varsayım Homojenliği

In [6]:
import scipy.stats as stats

In [7]:
stats.levene(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

LeveneResult(statistic=1.0267403645055275, pvalue=0.36247110117417064)

#  Hipotez Testi

In [8]:
from scipy.stats import f_oneway

In [9]:
f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

F_onewayResult(statistic=74.69278140730431, pvalue=1.3079050746811477e-19)

In [10]:
print("{:.5f}".format(f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])[1]))

0.00000

In [11]:
ABC.describe().T

        count       mean       std   min    25%   50%    75%   max
GRUP_A   30.0  30.133333  2.224214  25.0  28.25  30.0  31.75  34.0
GRUP_B   30.0  31.700000  2.937862  26.0  30.00  31.0  34.00  38.0
GRUP_C   30.0  38.100000  2.808239  33.0  36.00  38.0  40.00  43.0

# Nonparametrik Hipotez Testi

In [12]:
from scipy.stats import kruskal

In [13]:
kruskal(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

KruskalResult(statistic=54.19819735523783, pvalue=1.7022015426175926e-12)

In [15]:
print("{:.5f}".format(kruskal(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])[1]))

0.00000